KIS_APP_KEY=
KIS_APP_SECRET=
KIS_ACCOUNT_NO=
#모의투자시 토큰 요청 주소
KIS_BASE_URL=https://openapivts.koreainvestment.com:29443
#실전투자시 토큰 요청 주소 KIS_BASE_URL=https://openapivts.koreainvestment.com:9443
#계좌번호 뒤에 숫자 두개(국내주식 거래일 경우 일반적으로 01)
ACCOUNT_PRODUCT_CODE=
